@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;800&display=swap');

/* Reset */

html {
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Homepage State */

.main__selection,
.game-info,
.endgame {
    display: none;
}

/* global Styling */

body {
    min-height: 100vh;
    background-color: #540375;
    position: relative;
}

button {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #FFBF00;
    color: #540375;
    font-weight: 800;
    border-style: solid;
    border-width: 5px;
    border-color: #FF7000;
}

/* Hover utility classes */

.hover_btn:hover {
    background-color: #10A19D;
}

/* Header Styling */

.head {
    text-align: center;
    padding: 2rem;
    color: #10A19D;
}

/* Main Content */

.main {
    text-align: center;
}

.greeting,
.game-info,
.main__selection,
.endgame {
    margin-top: 3rem;
}

.greeting__text,
.info__heading {
    color: #FF7000;
}

.greeting__subtext,
.info__para,
.display__inner,
.endgame__text {
    color: #FFBF00;
}

.greeting__text,
.greeting__subtext,
.info__heading,
.info__para,
.display__inner,
.endgame__text {
    margin-bottom: 1rem;
}

.greeting-yes__btn {
    margin-right: 1rem;
}

.info__heading {
    font-size: 1.5rem;
}

.display__inner {
    display: flex;
    justify-content: space-evenly;
}

.round__result {
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 2rem;
    color: #10A19D;
}